:root{
    --priamry-color: #1992d4;
    --secondary-color: #e2e8f0;

}
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;

}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1.5fr 11fr;
    grid-template-areas: 
      "sidebar header1"
      "sidebar header2"
      "sidebar main";
}

.sidebar{ 
    grid-area: sidebar;
    background-color: var(--priamry-color);
    display: grid;
    grid-template-columns: 1fr 4fr; 
   
    color: white;
    font-size: 28px;
    font-weight: bold;   

}

.sidebar .col1{
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(15, 1fr); 
    justify-items: center;

}

.sidebar .col2{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(15, 1fr); 
    

}

.sidebar .col1 > div {
    height: 50px;
    width: 50px;
    background-color: white;
}

.sidebar .row1{
    align-self: center;
    grid-row: span 2;
    font-size: 48px;
}

.sidebar .row8{
    grid-row: 10 / 11;
}

.sidebar .row9{
    grid-row: 11 / 12;
}
.sidebar .row10{
    grid-row: 12 / 13;
}



.header1 {
    grid-area: header1;
    background-color: white;
}

.header2 {
    grid-area: header2;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;

}

.header2 .header-text-1 {
    font-size: 30px;
    font-weight: bold;
}
.header2 .header-text-2 {
    font-size: 40px;
    font-weight: bold;
}

.header2 button {
    background-color: var(--priamry-color);
    color: white;
    font-size: 28px;
    height: 60px;
    width: 150px;
    border-radius: 50px;

}

.main {
    grid-area: main;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;

}

.main .col1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 50px;


}

.main .col2  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 50px;


}

.main .col3  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(11, 1fr);


}

.main .title {
    font-size: 28px;
    font-weight: bold;
}

.main .col1 .title , .main .col2 .title  {
    grid-column: 2/ span 6;
    grid-row: span 1;
    align-self: end;
}


.main .col3 .title {
    grid-column: 1/ span 6;
    grid-row: span 1;
    align-self: center;
}


.main .col1 .card1 {
    grid-column: 2 / -1;
    grid-row: span 3;
   
}

.main .col2 .card1 {
    grid-column: 2 / -2;
    grid-row: span 3;
}


.main .card1 {
    background-color: white;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 10px 10px 1fr;
    grid-template-rows: 1fr 5fr 2fr;
    
}

 .main .card1 .side {
    background-color: gold; 
    grid-column: span 1;
    grid-row: span 3;
} 
.main .card1 .card-text {
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
} 




.main .first-card2 {
    grid-column: 1/ span 5;
    grid-row: span 4;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 4px 2px 4px 1fr 4px 2px 4px 1fr;

    
}
.main .first-card2 .line {
    background-color: lightgrey;
    

}

.main .first-card2 .card-text { 
    margin-left: 30px;
    margin-top: 25px;
    

}


.main .first-card2  span {
    font-weight: bold;
    

}


.main .second-card2 {
    grid-column: 1/ span 5;
    grid-row: span 4;
    background-color: white;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 4fr;

    
}
.main .second-card2 .icons {
    grid-column: 1/ span 1;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

  

  
    
}
.main .second-card2 .icons img {
    grid-row: span 1;
    align-self: center;
    height: 100px;
    width: 100px;

  
    
}
.main .second-card2 .card-text {
    grid-column: 2/ -1;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
  
}

.main .second-card2 .card-text > {
    background-color: white;
    grid-row: span 1;
  
  
}

 
 .main .second-card2 .card-text span{
    background-color: white;
    grid-row: span 1;
    font-weight: bold;
  
  
} 

