:root{
    --priamry-color: #1992d4;
    --secondary-color: #e2e8f0;

}
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;

}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1.5fr 8fr;
    grid-template-areas: 
      "sidebar header1"
      "sidebar header2"
      "sidebar main";
    gap: 4px;
}

.sidebar{ 
    grid-area: sidebar;
    background-color: var(--priamry-color);
    

}

.header1 {
    grid-area: header1;
    background-color: white;
}

.header2 {
    grid-area: header2;
    background-color: white;
}

.main {
    grid-area: main;
    background-color: var(--secondary-color);
}